#calculadoranexo {
    background-color: whitesmoke;
}

#calculadoraText {
    text-align: center;
}

.teste {
    background-color: #495057;
    color: white;
    max-width: 400px;
    margin: auto;
    padding: 15px 15px 1px 15px; 
    border-radius: 5px;
}