#calculadoranexo {
    background-color: whitesmoke;
}

#calculadoraText {
    text-align: center;
}

.calculadora {
    margin-top: 10px;
}

.calculadora .titulo {
    width: 100%;
    padding: 10px;
    background-color: grey;
    color: white;
    border-radius: 5px;
    text-align: center
}

table {
    border-radius: 5px;
    text-align: center;
}

input {
    width: 100px;
    border-radius: 5px;
    text-align: end;
    
}

.resultado {
    margin-top: 10px;
}

#resultadofinaltitulo {
    width: 100%;
    padding: 10px;
    background-color: rgba(124, 165, 73, 1);
    color: white;
    border-radius: 5px;
    text-align: center
}

#botaoCalcular {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: rgba(235, 177, 51, 1);
    color: white;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}