#calculadoranexo {
    background-color: whitesmoke;
}

#calculadoraText {
    text-align: center;
}

.calculadora {
    margin-top: 10px;
}


#quadro {
    width: 80%;
    background-color: #495057;
    color: white;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
}

input {
    width: 100%;
    border-radius: 5px;
    text-align: end;
    
}




#botaoCalcular {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: rgba(235, 177, 51, 1);
    color: white;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}