.calculadora {
    margin-top: 30px;
}

.calculadora .titulo {
    padding: 10px;
    background-color: grey;
    color: white;
    border-radius: 5px;
    text-align: center
}

table {
    border-radius: 5px;
    text-align: center
}

input {
    width: 125px;
    border-radius: 5px;
    text-align: end;
    
}